<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">

<head>

<title>Carrinho</title>

</head>

<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" action="/carrinho"
		th:object="${carrinho}">
		<div class="alert alert-danger" role="alert"
			th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>

		<div class=" table-carrinho">
			<table class="table table-bordered table-striped ">
				<thead th:if="${not #lists.isEmpty(listaCarrinho)}">
					<tr>
						<th class="text-center">Nome do Evento</th>
						<th class="text-center">Ingressos Disponíveis</th>
						<th class="text-center">Data</th>
						<th class="text-center">Valor do Ingresso</th>
						<th class="text-center">Gênero Musical</th>
						<th class="text-center">Casa de Show</th>
						<th class="text-center">Quantidade</th>
						<th class=""></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="carrinho : ${listaCarrinho}">
						<td class="text-center" th:text="${carrinho.evento.nomeEvento}"></td>
						<td class="text-center" th:text="${{carrinho.ingressoDisp}}"></td>
						<td class="text-center" th:text="${{carrinho.evento.dataEvento}}"></td>
						<td class="text-center"
							th:text="|R$ ${{carrinho.evento.valorIngresso}}|"></td>
						<td class="text-center"
							th:text="${carrinho.evento.genero.generos}"></td>
						<td class="text-center"
							th:text="${carrinho.evento.casaShow.nomeCasa}"></td>
						<td class="text-center"><span
							th:text="${carrinho.quantidade}" th:field="*{quantidade}"></span> &nbsp; <a
							th:if="${carrinho.ingressoDisp > 0}"
							th:href="@{/carrinho/altera/{codigo}/{acao}(codigo=${carrinho.evento.codigo}, acao=${1})}"><i
								class="fas fa-plus-circle"></i></a> <a
							th:if="!${carrinho.quantidade == 1}"
							th:href="@{/carrinho/altera/{codigo}/{acao}(codigo=${carrinho.evento.codigo}, acao=${0})}"><i
								class="fas fa-minus-circle"></i></a></td>

						<td class="text-center"><a class="btn btn-link btn-xs"
							th:href="@{/carrinho/excluir/{codigo}(codigo=${carrinho.evento.codigo})}"
							title="Excluir"> <i class="fas fa-trash-alt"></i>

						</a></td>

					</tr>

					<tr th:if="${not #lists.isEmpty(listaCarrinho)}">
						<td colspan="5" class="text-right">TOTAL</td>
						<td class="text-right" colspan="3"><span
							th:text="|R$ ${{compra.valorTotal}}|"></span></td>
					</tr>




				</tbody>

			</table>

			<div class="form-group row" th:if="${not #lists.isEmpty(listaCarrinho)}">
				<label for="formaPagto"
					class="col-8 control-label col-form-label text-right">Forma
					de Pagamento </label>
				<div class="col-sm-4" th:if="${not #lists.isEmpty(listaCarrinho)}">
					<select class="form-control" name="formaPagto">
						<option th:each="formaPagtos : ${formaPagto}"
							th:value="${formaPagto}" th:text="${formaPagtos.formaPagto}"
							th:field="*{formaPagto}"></option>
					</select>
				</div>
			</div>

			<div class="text-center div-semcasa"
				th:if="${#lists.isEmpty(listaCarrinho)}">Carrinho vazio :(</div>

			<div class="col-mb-2" th:if="${not #lists.isEmpty(listaCarrinho)}">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<a class="btn btn-lg btn-block btn-info text-uppercase"
							href="/home">Continuar Comprando</a>
					</div>
					<div class="col-sm-12 col-md-6 text-right">
						<button type="submit"
							class="btn btn-lg btn-block btn-success text-uppercase">Finalizar Compra</button>
					</div>
				</div>
			</div>
		</div>



	</form>
</section>

</html>
